<?xml version="1.0"?>
<launch>
    <!-- Map server -->
    <arg name="map_file" default="$(find swan_navigation)/maps/geo_fence.yaml"/>
    <node pkg="map_server" name="map_server"  type="map_server" args="$(arg map_file)" />

    <node pkg="tf" type="static_transform_publisher" name="fake_odom_tf_publisher" args="0 0 0 0 0 0 base_link base_footprint 100" />

    <!-- Calls navigation stack packages for compatible Linorobot base -->
    <!-- Takes reference from env variable LINOBASE. ie. export LINOBASE=2wd -->
    <include file="$(find swan_navigation)/launch/include/move_base/move_base_2wd.launch" />
</launch>
