<?xml version="1.0"?>
<launch>
    <node pkg="swan_localization" type="dynamic_odom_estimator" name="dynamic_odom_estimator">
        <rosparam>
            frequency: 20
            frame_id: odom2
            child_frame_id: base_link
            send_transform: true
            sim_mode: true
            holonomic: false
        </rosparam>
    </node>
</launch>
