<?xml version="1.0"?>
<launch>
    <include file="$(find os5000)/launch/os5000.launch"/>
    <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="gps_driver">
        <param name="port" value="/dev/gps" />
        <param name="baud" value="4800" />
        <param name="frame_id" value="gps" />
    </node>
     <node pkg="nmea_navsat_driver" type="nmea_topic_serial_reader" name="gps_driver">
        <param name="port" value="/dev/gps" />
        <param name="baud" value="4800" />
        <param name="frame_id" value="gps" />
    </node>
    <node pkg="rosbag" type="record" name="gps_compass_recorder" output="screen" args="record -o /home/ubuntu/bag/ /fix /vel /os5000_data" />
</launch>

