<?xml version="1.0"?>
<launch>
    <param name="use_sim_time" value="true" />

    <node pkg="rosbag" type="play" name="gps_compass_player" output="screen" args="--clock --pause -r 5 -s 620 -u 76 $(find swan_bringup)/../bag/motion_test3_2018-06-19-12-02-19.bag" /><!-- -s 290 -r 1 $(find swan_bringup)/../bag/_2018-05-22-17-08-17_corrected.bag" /-->

    <!--node pkg="swan_sim" type="constant_speed_sim" name="constant_speed_sim" output="screen" >
        <param name="forward_speed" value="0.5" />
        <param name="send_transform" value="false" />
        <param name="frame_id" value="odom_gps" />
        <param name="child_frame_id" value="base_link" />
        <remap from="imu" to="os5000_data" />
    </node-->


    <node pkg="gps_tools" type="utm_tf_node" name="fix_translator" output="screen">
        <remap from="odom" to="gps_odom" />
        <rosparam>
            frame_id: odom
            child_frame_id: base_link
            publish_transform: true
            use_imu_orientation: true
            frequency: 20
            rot_covariance: 100
        </rosparam>
    </node>

    <node pkg="gps_tools" type="static_utm_publisher" name="static_utm_publisher" output="screen">
        <remap from="odom" to="gps_odom" />
        <rosparam>
            frame_id: odom
            child_frame_id: map
            frequency: 20
            latitude: 1.31684333333 
            longitude: 103.74813
            altitude: 0
            rot_covariance: 100
        </rosparam>
    </node>


    <node pkg="tf" type="static_transform_publisher" name="compass_tf_publisher" args="0 0 0 0 0 0 base_link compass 50" />
    <node pkg="tf" type="static_transform_publisher" name="gps_tf_publisher" args="0 0 0 0 0 0 base_link gps 50" />
    <!--inode pkg="robot_localization" type="navsat_transform_node" name="navsat_transformation" >
        <remap from="imu/data" to="/os5000_data" />
        <remap from="gps/fix" to="/fix" />
        <remap from="odometry/filtered" to="gps_odom" />
        <rosparam>
            frequency: 20
            delay: 0.5
            magnetic_declination_radians: 0.003839724
            yaw_offset: 0
            zero_altitude: true
            publish_filtered_gps: true
            broadcast_utm_transform: true
            use_odometry_yaw: true
        </rosparam>
    </node>


    
    <node pkg="robot_localization" type="ekf_localization_node" name="robot_pose_ekf" output="screen">
        <rosparam>
            frequency: 20
            sensor_timeout: 0.1
            two_d_mode: true
            odom_frame: odom
            base_link_frame: base_link
            world_frame: map
            imu0: /os5000_data
            odom0: /gps_odom
            odom0_config: [true, true, false,
                           false, false, false,
                           false, false,  false,
                           false, false, false,
                           false, false, false]

            imu0_config:  [false, false, false,
                           false, false, true,
                           false, false, false,
                           false, false, false,
                           false, false, false]

            odom0_queue_size: 20
            imu0_queue_size: 20
            imu0_remove_gravitational_acceleration: false
            gravitational_acceleration: 9.80665
            publish_tf: true

        </rosparam>
    </node-->

</launch>

