<?xml version="1.0"?>
<launch>
    <param name="use_sim_time" value="true" />

    <node pkg="rosbag" type="play" name="gps_compass_player" output="screen" args="--clock --pause -r 1 -s 0 $(find swan_bringup)/../bag/motion_test2_2018-06-19-11-54-25.bag" /><!-- -s 290 -r 1 $(find swan_bringup)/../bag/_2018-05-22-17-08-17_corrected.bag" /-->


    <node pkg="gps_tools" type="utm_tf_node" name="fix_translator" output="screen">
        <remap from="odom" to="odom1" />
        <rosparam>
            frame_id: odom
            child_frame_id: base_link
            publish_transform: false
            use_imu_orientation: true
            frequency: 10
            rot_covariance: 100
            use_map_frame: true
        </rosparam>
        <rosparam file="$(find swan_navigation)/maps/centre.yaml" command="load" />
    </node>

    <node pkg="swan_sim" type="constant_speed_sim" name="constant_speed_sim" >
        <param name="frame_id" value="odom" />
        <param name="child_frame_id" value="base_link" />
        <param name="send_transform" value="false" />
        <param name="forward_speed" value="0.8" />
        <remap from="odom" to="odom2" />
    </node>

    <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 100" />

    <node pkg="tf" type="static_transform_publisher" name="compass_tf_publisher" args="0 0 0 0 0 0 base_link compass 100" />

    <node pkg="tf" type="static_transform_publisher" name="gps_tf_publisher" args="0 0 0 0 0 0 base_link gps 100" />
    
    <node pkg="robot_localization" type="ekf_localization_node" name="robot_pose_ekf" output="screen">
        <rosparam>
            frequency: 10
            sensor_timeout: 0.1
            two_d_mode: true
            odom_frame: odom
            base_link_frame: base_link
            world_frame: odom
            odom0: /odom1
            odom1: /odom2
            odom0_config: [true, true, false,
                           true, true, true,
                           true, true,  false,
                           false, false, false,
                           false, false, false]

            odom1_config:  [false, false, false,
                           false, false, false,
                           true,  false, false,
                           false, false, true,
                           false, false, false]

            odom0_queue_size: 20
            odom1_queue_size: 20
            publish_tf: true
        </rosparam>
        <remap from="odometry/filtered" to="odom" />
    </node>

    <node pkg="fake_localization" type="fake_localization" name="fake_localization">
        <remap from="base_pose_ground_truth" to="odom" />
    </node>


    <include file="$(find swan_navigation)/launch/navigate.launch" />

</launch>

